{% extends 'base.html' %}

{% block title %}Volo's Assistaint{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="section">
            <h1 class="center-align c1">Volo's Assistaint<br>to monsters</h1>
        </div>
        <div class="section center-align">
            <form method="POST" action="/survey">
                <div class="decklist-textarea">
                    {{ form.cards.label(class="c1") }} {{ form.cards(class="materialize-textarea z-depth-2 c1",
                    placeholder="Paste the creature list here.") }}
                </div>
                <div>
                    <button class="btn waves-effect waves-light z-depth-2" type="submit">Submit decklist</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}