{% extends 'base.html' %}

{% block title %}Volo's Assistaint{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="section">
      <h1 class="center-align c1">Volo's Assistaint<br>to monsters</h1>
  </div>
  <div class="section">
    <table>
      <thead>
        <tr>
          <th colspan="5">
            <h4 class="c1"><b>Duplicate subtypes:</b></h4>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in duplicates.items() %}
        <tr>
          <td class="c1"><b>{{ key }}</b></td>
        </tr>
          {% for creature in value %}
          <tr class="c3">
            <td>{{ loop.index }}</td>
            <td>{{ creature['name'] }}</td>
            <td>{{ creature['manaCost'] }}
            </td>
            <td>{% for type in creature['types'] %}{{ type }}{% endfor %} {% for supertype in creature['supertypes'] %}
              {{ supertpe }} {% endfor %}</td>
            <td>{% for subtype in creature['subtypes'] %}{{ subtype }} {% endfor %}</td>
            <td> <a href="https://scryfall.com/search?q=oracleid:{{ creature['identifiers']['scryfallOracleId'] }}" ><i class="material-icons c3">link</i></a>
            </td>
          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}